@import '../../../scss/variables.scss';
@import '../../../scss/colors.scss';

.#{$appPrefix}-home-header {
  background-color: $secondaryBgColor;
  position: fixed;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 3px 8px -2px $boxShadow;
  height: 40px;
  padding-top: 5px;
  .app-logo {
    margin-top: -5px;
  }

  .app-name {
    display: inline;
    position: relative;
    top: -2px;
    margin-left: 10px;
    font-weight: bold;
    color: $purple;
  }

  .ul-main-menu {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    li {
      list-style: none;
      display: inline-block;

      margin-right: 2px;

      a {
        text-decoration: none;
        display: block;
        padding: 5px 20px 5px 20px;
      }
    }
  }

  .right-actions {
    margin-top: -3px;
    .theme-switch {
      .btn-clear {
        padding: 0;
        margin-top: -5px;
        &:active {
          border-color: transparent;
        }
      }

      display: inline-block;
      margin-right: 25px;
    }
  }
}

.device-type-mobile {
  .app-logo {
    margin-top: -3px;
    margin-left: -10px;
  }

  .app-name {
    font-size: 0.7rem;
  }
}

.#{$themeDark} {
  .#{$appPrefix}-home-header {
    box-shadow: 0px 3px 8px -2px $darkThemeBgAlt;

    .app-name {
      color: $darkThemeColor;
    }
  }
}
