@import '../../../scss/variables.scss';
@import '../../../scss/colors.scss';

.#{$appPrefix}-home-intro {
  height: calc(100vh - 35px);

  // background-color: $appBg;
  background-image: url('https://live.staticflickr.com/65535/53963381631_eba0e4f585_k.jpg');

  transition: background-size 4s ease;
  background-size: 100%;
  background-position: center center;
  background-attachment: fixed;
  &:hover {
    background-size: 120%;
    background-blend-mode: color-dodge;
  }

  text-align: center;

  .bg-image {
    img {
      width: 40%;
      margin-bottom: 25px;
      border-radius: 4px;
    }

    .site-name {
      font-size: 8rem;
    }
  }

  .intro-section {
    z-index: 1;
    height: 100%;
    width: 100%;

    vertical-align: middle;
    text-align: center;
    .#{$appPrefix}-name {
      font-size: 4rem;
      font-style: italic;
      color: white;
      margin-bottom: 10px;
    }

    .#{$appPrefix}-sub-name {
      font-size: 3em;
      font-style: italic;
      color: #262626;
    }

    .#{$appPrefix}-tagline {
      color: #fafafa;
      font-style: italic;
      font-size: 2em;
      margin-bottom: 50px;
    }
  }
}

.device-type-mobile {
  .#{$appPrefix}-home-intro {
    flex-direction: column;
    justify-content: center !important;

    background-size: cover;
    background-repeat: no-repeat;

    .#{$appPrefix}-name {
      font-size: 1.5rem;
    }

    .#{$appPrefix}-sub-name {
      font-size: 1.1rem;
    }

    .#{$appPrefix}-tagline {
      font-size: 0.7rem;
      text-align: center;
    }

    .site-name {
      font-size: 5em;
    }

    .intro-section {
      height: 50%;
      width: 100%;
      .ui-geeks-name {
        margin: 25px 0px 35px 0px;
        font-size: 2em;
      }

      .ui-geeks-tagline {
        font-size: 1.5em;
      }
    }

    .bg-image {
      img {
        width: 80%;
        height: 80%;
      }
    }
  }
}

.#{$appPrefix}-animate-top {
  position: relative;
  animation: animatetop 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
