@import '../../../scss/variables.scss';
@import '../../../scss/colors.scss';

.#{$appPrefix}-scroll-top-btn {
  position: fixed;
  background-color: $lightGrayAlt;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.5;
  bottom: 60px;
  right: 30px;
  z-index: 9;

  &:hover {
    background-color: $purple;
    opacity: 1;
  }

  &:focus,
  &:active {
    background-color: $brightGreen;
    opacity: 1;
  }
}

.#{$mobileDevice} {
  .#{$appPrefix}-scroll-top-btn {
    bottom: 170px;
  }
}
