@import '../../scss/variables.scss';

.#{$appPrefix}-vscode-extention {
  .ext-content {
    display: flex;

    .ext-box {
      flex-wrap: wrap;
      gap: 10px;

      .#{$appPrefix}-box {
        margin-bottom: 0px;
        min-width: 500px;
        flex: 1;
      }

      .ext-image {
        margin-bottom: 15px;

        .img-box {
          display: inline-block;
        }

        img {
          margin-right: 25px;
          margin-left: 10px;
          vertical-align: bottom;
        }
      }
      .ext-detail {
        display: inline-block;
        align-items: center;
      }
    }
  }
}

.device-type-mobile {
  .#{$appPrefix}-vscode-extention {
    .#{$appPrefix}-box {
      min-width: 100% !important;
    }

    .ext-image {
      .img-box {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
      }
    }
  }
}
