@import '../../../scss/variables.scss';
@import '../../../scss/colors.scss';

.#{$appPrefix}-note {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  font-style: italic;
  .note-text {
    font-style: italic;
    position: relative;
    font-weight: bold;
    top: 13px;
    z-index: 9;
    margin-left: 15px;
    background-color: #aba8f1;
    width: fit-content;
    padding: 2px 10px 2px 10px;
    border-radius: 4px;
  }
}

.#{$themeDark} {
  .#{$appPrefix}-note {
    .note-text {
      background-color: #464646;
    }
    .alert-primary {
      color: #000000;
      background-color: #d6d6d6;
      border-color: #393939;
    }
  }
}
