$primaryColor: #c0c0c0;
$primaryBgColor: #c0c8c8;
$secondaryColor: rgb(70, 70, 94);
$secondaryBgColor: #eeeef0;
$purple: #6e45e2;
$lightPurple: #6b71a8;
$darkGreen: #002b36;
$darkGray: #121212;
$darkGrayAlt: #282828;
$lightGray: #e1e1e1;
$lightGrayAlt: #626262;
$bodyBgColor: #f7f7f7;
$green: #389e7f;
$white: #f8f8f8;
$yellow: #effa85;
$darkYellow: #d4d21d;
$h1Color: #ff5e0e;
$h2Color: #008575;
$h3Color: #fb4f4f;
$h4Color: #ab521e;
$h5Color: #1557bf;
$h6Color: #df1abe;
$brightGreen: #33cc7b;
$boxShadow: #888888;
$red: red;
$error: #ffb2b2;
$success: #4ee394;
$appBg: #282735;
$darkThemeBg: #262626;
$darkThemeBgAlt: #343434;
$darkThemeColor: #dedede;
$darkThemeGray: #474747;
$darkThemeh4Color: #f37802;
$darkThemeh5Color: #7aaeff;
$darkThemeh6Color: #ebe8eb;

$colorFacebook: #385898;
$colorTwitter: rgb(29, 155, 240);
$colorLinkedIn: rgb(14, 118, 168);
$colorInstagram: #bc2a8d;

$demoBg: #fffcfc;

$redThemeBg: linear-gradient(
  90deg,
  rgba(238, 95, 95, 1) 0%,
  rgba(235, 104, 104, 1) 49%,
  rgba(228, 51, 51, 1) 100%
);

$yellowThemeBg: linear-gradient(90deg, #effa85 0%, #d4d21d 82%, #aec30d 99%);

$grayThemeBg: linear-gradient(
  90deg,
  rgba(238, 95, 95, 1) 0%,
  rgba(235, 104, 104, 1) 49%,
  rgba(228, 51, 51, 1) 100%
);

$lightGreenThemeBg: linear-gradient(
  90deg,
  rgba(51, 204, 123, 1) 0%,
  rgba(53, 195, 124, 1) 32%,
  rgba(103, 106, 228, 1) 100%
);

$yellowDemoTheme: linear-gradient(
  90deg,
  rgba(239, 250, 133, 1) 0%,
  rgba(212, 210, 29, 1) 50%,
  rgba(239, 250, 133, 1) 100%
);
