$primaryColor: #c0c0c0;
$primaryBgColor: #c0c8c8;
$secondaryColor: rgb(70, 70, 94);
$secondaryBgColor: #eeeef0;
$purple: #6e45e2;
$lightPurple: #6b71a8;
$darkGreen: #002b36;
$darkGray: #121212;
$darkGrayAlt: #282828;
$lightGray: #e1e1e1;
$lightGrayAlt: #626262;
$bodyBgColor: #f7f7f7;
$green: #389e7f;
$white: #f8f8f8;
$yellow: #effa85;
$darkYellow: #d4d21d;
$h1Color: #ff5e0e;
$h2Color: #008575;
$h3Color: #6e45e2;
$h4Color: #ab521e;
$h5Color: #1557bf;
$h6Color: #df1abe;
$brightGreen: #33cc7b;
$boxShadow: #888888;
$red: red;
$error: #ffb2b2;
$success: #4ee394;
$appBg: #282735;
$darkThemeBg: #262626;
$darkThemeBgAlt: #343434;
$darkThemeColor: #dedede;
$darkThemeGray: #474747;
$darkThemeh4Color: #c7701e;
$darkThemeh5Color: #4181e4;
$darkThemeh6Color: #ea49cf;

$angularBg: #ffb4b4;
$angularHover: #dd0031;

$typeScriptHover: #3178c6;
$typeScriptBg: #75aae5;

$scssBg: #f59bc8;
$scssHover: #cf649a;

$nodeJsBg: #b3db9b;
$nodeJsHover: #026e00;

$colorFacebook: #385898;
$colorTwitter: rgb(29, 155, 240);
$colorLinkedIn: rgb(14, 118, 168);
$colorInstagram: #bc2a8d;

$demoBg: #fffcfc;

$redThemeBg: linear-gradient(
  90deg,
  rgba(238, 95, 95, 1) 0%,
  rgba(235, 104, 104, 1) 49%,
  rgba(228, 51, 51, 1) 100%
);

$yellowThemeBg: linear-gradient(90deg, #effa85 0%, #d4d21d 82%, #aec30d 99%);

$grayThemeBg: linear-gradient(
  90deg,
  rgba(238, 95, 95, 1) 0%,
  rgba(235, 104, 104, 1) 49%,
  rgba(228, 51, 51, 1) 100%
);

$lightGreenThemeBg: linear-gradient(
  90deg,
  rgba(51, 204, 123, 1) 0%,
  rgba(53, 195, 124, 1) 32%,
  rgba(103, 106, 228, 1) 100%
);

$yellowDemoTheme: linear-gradient(
  90deg,
  rgba(239, 250, 133, 1) 0%,
  rgba(212, 210, 29, 1) 50%,
  rgba(239, 250, 133, 1) 100%
);

$profile-primaryBgColor: #c0c8c8;
$profile-white: white;
$profile-bodyBgColor: white;
$profile-sectionTitleColor: #635fb6;
$profile-hoverBgColor: #dee9ff;
$profile-progressColor: #6a6a6a;
$profile-boxShadow: #e5e5e5;
$profile-lightGrayAlt: #ececec9e;
$profile-borderGray: #f1f1f1b0;
$profile-lightGrayBgColor: #f9f9f99e;
$profile-textColor: #3f4142;
$profile-drkThemeGray: #717171;
$profile-drkThemeBgColor: #262626;
$profile-drkThemeHover: #3f3f3f;
$profile-drkThemeBgAlt: #343434;
$profile-drkThemeColor: #dedede;
$profile-drkThemeHeaderTitle: #adadad;
$profile-drkThemeSeparator: #50e08e;
$profile-drkThemeSubTitle: #bcbcbc;
$profile-linkBgColor: #eaeaea;
