@import './colors.scss';

$appPrefix: 'ui-geeks';
$mobileDevice: 'device-type-mobile';

$themeLight: 'theme-light';
$themeDark: 'theme-dark';

$errorBorder: 1px solid $error;
$successBorder: 1px solid $success;

$profile-colTemplate: repeat(auto-fill, minmax(350px, 1fr));
